In [12]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("../Data/Weather_data.csv")
df.head()

         City Country    Lat    Long   Temp  Feel Like  Humidity  Cloud %
0  Hambantota      LK   6.12   81.12  86.00      89.56        79       40
1     Shimoda      JP  34.67  138.95  68.14      59.52        64       75
2   Makubetsu      JP  45.37  141.82  68.00      58.42        72       75
3      Kikwit      CD  -5.04   18.82  71.24      77.83        94      100
4  Koutsouras      GR  35.03   25.95  75.00      82.83        92        2

In [15]:
# rechecking unique-ness and length
df["City"].value_counts()

Lavrentiya     1
La Ronge       1
Yulara         1
Hasaki         1
Neuquén        1
              ..
Lalín          1
Hong Kong      1
Shelburne      1
Uruaçu         1
Kondinskoye    1
Name: City, Length: 687, dtype: int64